@import "~@hiendv/bem-sass";

.datatable {
  color: $color;
  font: 1em/1.5 -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  @include e('wrapper') {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
  }

  @include e('screen') {
    position: relative;
    margin-bottom: .5em;
  }

  @include e('content') {
    width: 100%;
    border: solid 1px $border-color;
    table-layout: fixed;
  }

  // body
  @include e('row') {
    background-color: $bg-color--even;
    @include m('odd') {
      background-color: $bg-color--odd;
    }
  }

  @include e('cell') {
    position: relative;
    padding: .3em .5em;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    vertical-align: middle;
    text-align: left;
    word-break: break-word;

    @include m('last-column') {
      border-right: 0;
    }

    @include m('last-row') {
      border-bottom: 0;
    }
  }

  // filter
  @include e('filter') {
    position: relative;
    margin-bottom: 0.5em;
  }

  @include e('input') {
    width: 100%;
    padding: .3rem 1.5rem .3rem .75rem;
    font-size: 1em;
    line-height: 1.5;
    border: 1px solid $border-color;
    border-radius: .25rem;
    background-color: transparent;
    color: $color;

    &:focus {
      outline: 0;
      border-color: $border-color--focus;
      box-shadow: 0 0 0 0.2rem rgba(100,100,100,.25);
    }
  }

  @include e('clear') {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 100%;
    border: 1px solid transparent;
    cursor: pointer;
    vertical-align: middle;
    &:hover {
      font-weight: bold;
    }

    &:active {
      font-weight: bold;
      text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
    }
  }

  @include e('x') {
    padding: .25em .75em;
    color: inherit!important;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
  }

  // head
  @include e('column') {
    position: relative;
    padding: .5em;
    padding-right: 1.75em;
    min-width: 1em;
    vertical-align: middle;
    text-align: left;
    line-height: 1;
    white-space: nowrap;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.1);
    background-color: $bg-color;
    font-weight: bold;

    @include m('last') {
      border-right: 0;
    }

    @include m('active') {
      background-color: $bg-color__column--active;
    }

    @include m('sortable') {
      cursor: pointer;
    }

    @include m('custom') {
      padding-right: .5em;
    }
  }

  @include e('column-icon') {
    position: absolute;
    top: 8px;
    right: .5em;
  }

  @include e('column-text') {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
  }
}

// pagination
.datatable__pagination {
  margin-bottom: .5em;
}

.datatable__pagination,
.datatable__plist {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.datatable__pprevious,
.datatable__pnext,
.datatable__plink,
.datatable__ptext {
  justify-content: center;
  text-align: center;
  margin: .15rem;
  padding-left: .5em;
  padding-right: .5em;
}

.datatable__pprevious,
.datatable__pnext,
.datatable__plink {
  border-color: $border-color;
  color: $color__plink;
  min-width: 2.35em;
  text-decoration: none;
  &:hover {
    background-color: $bg-color__plink--focus;
  }

  &[disabled] {
    color: $color--disabled!important;
    cursor: not-allowed;
    background-color: $bg-color--disabled!important;
    border-color: $bg-color--disabled!important;
  }
}

.datatable__plist {
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  order: 1;
}

.datatable__pprevious,
.datatable__pnext,
.datatable__ptext {
  padding-left: 0.5em;
  padding-right: 0.5em;
  white-space: nowrap;
  order: 2;
}

.datatable__plink {
  align-items: center;
  border-radius: 3px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  line-height: 2;
  position: relative;
  vertical-align: top;
  border: 1px solid $border-color;

  @include m("active") {
    color: #fff!important;
    cursor: default;
    background-color: $bg-color__plink--active!important;
    border-color: $bg-color__plink--active!important;
  }
}

.datatable__loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $bg-color;
  opacity: .9;
  z-index: 9999;
  transition: opacity .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    fill: $color;
  }
}
