@import "~@hiendv/bem-sass";

$color: #495057;
$color--disabled: #777;
$color__plink: #337ab7;

$border-color: #dee2e6;
$border-color--focus: #999;

$bg-color: #fff;
$bg-color--disabled: #f0f0f0;
$bg-color--odd: #e9ecef;
$bg-color__column--active: #f0f0f0;
$bg-color__plink--focus: #eee;
$bg-color__plink--active: $color__plink;

@import "base";
